streamlit
google-generativeai
groq
mistralai>=0.4.0
python-docx
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
duckduckgo-search
beautifulsoup4
lxml
pandas
aiohttp
